<<<<<<< HEAD

/* CSS example XCORE, Mariz Melo 2011 */

html, body{
	margin:				0;
	padding:			0;
=======
html, body{
	margin:				0;
	padding:			0;
	width:				100%;
	height:				100%;
>>>>>>> 7f7088cdd868bc984a83d8e46efb6eeb4942ffd4
}
body{
	background: 		black;
	color: 				gray;
}
a{
	color: 				#3e3e3e;
}
<<<<<<< HEAD
#content, #version{
	position:			absolute;
}
#content{
	left: 				50%; 
	margin-left: 		-390px; 
	margin-top: 		60px; 
	width: 				781px; 
	height: 			523px; 
	background: 		url('../img/xcore.jpg') no-repeat;
}
#version{
	margin-left: 		70px; 
	margin-top: 		170px;	
}
#footer{
	background: 		#191919; 
	padding: 			20px; 
	margin: 			5px;
}
.align_center{
	text-align: 		center;
=======
#wrapper{
	height: 95%;
}
#wrapper_footer{ 
	height: 5%; 
	background: #191919;
}
.align_center{
	text-align: center;
>>>>>>> 7f7088cdd868bc984a83d8e46efb6eeb4942ffd4
}