
/* CSS example XCORE, Mariz Melo 2011 */

html, body{
	margin:				0;
	padding:			0;
}
body{
	background: 		black;
	color: 				gray;
}
a{
	color: 				#3e3e3e;
}
#content, #version{
	position:			absolute;
}
#content{
	left: 				50%; 
	margin-left: 		-390px; 
	margin-top: 		60px; 
	width: 				781px; 
	height: 			523px; 
	background: 		url('../img/xcore.jpg') no-repeat;
}
#version{
	margin-left: 		70px; 
	margin-top: 		170px;	
}
#footer{
	background: 		#191919; 
	padding: 			20px; 
	margin: 			5px;
}
.align_center{
	text-align: 		center;
}